{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "importOrder": [
    "^@(store|modules)/(.*)$",
    "^@(contexts|hoc)/(.*)$",
    "^@hooks/(.*)$",
    "^@constants/?(.*)$",
    "^@views/(.*)$",
    "^@(components|assets)/(.*)$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ]
}
